.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin-top: 2rem;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: var(--bg);
    color: #fff;
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #005fa3;
  }
  